@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">

    <BlockCardWeb.Components.Pages.ViewMain.CustomViewMain>

        <authorize>
        <BlockCardWeb.Components.Pages.MainPagebar />
        </authorize>
        <noauthorize>
            <BlockCardWeb.Components.Pages.MainSecurity.LoginMain />
        </noauthorize>

    </BlockCardWeb.Components.Pages.ViewMain.CustomViewMain>
</div>

