@using Microsoft.AspNetCore.Mvc

@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">

    <BlockCardWeb.Components.Pages.ViewMain.CustomViewMain>

        <authorize>
            @* <BlockCardWeb.Components.Pages.MainPagebar /> *@
            <MudPaper Class="w-100 h-100-vh bg-white d-flex border-radius-0 overflow-hidden" Elevation="0">

                <MudPaper Class="main-slidebar" Elevation="0">
                    <MudContainer Class="bg-default px-0">
                        <MudCard Elevation="0" Class="w-100  bg-opacity-bg  h-83-px d-flex align-items-center flex-row div-tappage border-radius-0">
                            <i class="ti ti-wallet f-30-px"> </i>
                            <div class="d-flex align-items-center nav-lb" @onclick=@(() => linkto("/" , 0))>

                                <MudText Class="text-white font-w-700 f-23-px "> UVC </MudText>
                                <MudText Class="text-white f-23-px "> Block card </MudText>
                            </div>
                        </MudCard>

                    </MudContainer>



                    <MudCard Class="w-100 bg-none border-radius-0 nav-menu" Elevation="0">

                        @* <MudText Class="color-white lb-nav">  ----- Block Card </MudText> *@
                        <li @onclick=@(() => linkto("/queryvoucher" , 0)) class=@($"{(pathmain == 1 ? "show" : "")}")>
                            <i class="fa fa-money"> </i>
                            <MudText Class="link-name">  ກວດບັດຕື່ມເງິນ </MudText>
                        </li>
                        <li @onclick=@(() => linkto("/reportvoucher" , 0)) class=@($"{(pathmain == 2 ? "show" : "")}")>
                            <i class="fas fa-chart-line"></i>
                            <MudText Class="link-name"> ລະບົບລາຍງານ </MudText>
                        </li>
                        @* <MudText Class="color-white lb-nav">  ----- setting  </MudText> *@

                        <li @onclick=@(() => linkto("/" , 0)) class=@($"{(pathmain == 0 ? "show" : "")}")>
                            <i class="fa fa-user"></i>
                            <MudText Class="link-name"> ຜູ້ພັດທະນາລະບົບ </MudText>
                        </li>

                        <li @onclick=@(() => linkto("/resetpassword" , 0)) class=@($"{(pathmain == 3 ? "show" : "")}")>
                            <i class="fa fa-unlock-alt"></i>
                            <MudText Class="link-name"> ປ່ຽນລະຫັດຜ່ານ </MudText>
                        </li>

                        <li @onclick=@(() => linkto("/logout" , 1)) class=@($"{(pathmain == 4 ? "show" : "")}")>
                            <i class="fa fa-power-off"></i>
                            <MudText Class="text-stds link-name"> ອອກຈາກລະບົບ </MudText>
                        </li>
                    </MudCard>
                </MudPaper>
                <MudPaper Class="home-section" Elevation="0">

                    <MudCard Class="w-100 bg-default border-radius-0 d-flex align-items-center justify-content-between box-shadow-none h-83-px flex-row" Elevation="0">
                        <MudCard Elevation="0" Class="w-60-px p-20  bg-default justify-content-center align-items-center d-flex box-shadow-none btn-menu ">
                            <i class="fa fa-chevron-right f-23-px color-white"> </i>
                        </MudCard>
                        <MudCard Class="d-flex align-items-center h-100 bg-none border-radius-0 flex-row" Elevation="0">
                            <MudText Class="lb-name"> VT1111 - Suphathta SuphathtaSuphathta </MudText>
                            <i class="fas fa-arrow-down f-24-px mx-3 color-opacitys font-w-600 "></i>
                        </MudCard>
                    </MudCard>

                    <MudPaper Elevation="0" Class="w-100 border-radius-0 bg-none ">
                        <MudCard Elevation="0" Class="bg-none border-radius-0 bg-white flex-row d-flex align-items-center pa-5 box-shadow-bottom">
                            <MudText Class="f-18-px"> ໜ້າຫຼັກ </MudText>
                            <i class="fa fa-chevron-right  mx-3 color-gray f-20-px"> </i>
                            @if (pathmain != null)
                            {

                                if (pathmain == 0)
                                {
                                    <MudText Class="f-18-px color-default"> ຜູ້ພັດທະນາລະບົບ </MudText>

                                }
                            }
                            else
                            {
                                <MudText Class="f-18-px color-default">   </MudText>
                            }
                        </MudCard>
                        <MudPaper Elevation="0" Class="w-95 border-radius-0 bg-none m-auto mt-4  h-74-vh">
                            @Body

                        </MudPaper>


                    </MudPaper>



                </MudPaper>

            </MudPaper>


        </authorize>
        <noauthorize>
            <BlockCardWeb.Components.Pages.MainSecurity.LoginMain />
        </noauthorize>

    </BlockCardWeb.Components.Pages.ViewMain.CustomViewMain>
</div>


<style>

    .main-slidebar {
        width: 290px;
        height: 100%;
        background: #FFFFFF;
        transition: all .3s ease;
    }

        .main-slidebar.show {
            transition: all 0.4s ease;
            width: 77px;
        }


        .main-slidebar .div-tappage i {
            width: 77px;
            padding: 20px;
            color: #FFF;
            text-align: center;
            min-width: 77px;
        }

        .main-slidebar .div-tappage .nav-lb {
            transition: all .3s ease;
            white-space: nowrap;
        }

        .main-slidebar.show .div-tappage .nav-lb {
            transition: all .1s ease;
            opacity: 0;
            pointer-events: none;
            white-space: nowrap;
            display: none;
        }

        .main-slidebar .nav-lb .lb-nav {
            white-space: nowrap;
            transition: all .3s ease;
            pointer-events: none;
        }

        .main-slidebar.show .nav-menu .lb-nav {
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: all 0.1s ease;
        }

        .main-slidebar.show .nav-menu {
            border-right: 1px solid #01c0c836;
            height: 100%;
        }


        .main-slidebar .nav-menu li {
            display: flex;
            align-items: center;
        }

            .main-slidebar .nav-menu li:hover {
                background: #01c0c830;
                cursor: pointer;
            }

            .main-slidebar .nav-menu li i {
                width: 77px;
                color: #01c0c8;
                padding: 20px;
                text-align: center;
                font-size: 27px;
            }

        .main-slidebar.show .nav-menu li i {
            border-bottom: 1px solid #01c0c836;
            transition: all .3s ease;
        }

        .main-slidebar .nav-menu li .link-name {
            white-space: nowrap;
            transition: all 0.2s ease;
        }

        .main-slidebar.show .nav-menu li .link-name {
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: all 0.1s ease;
            display: none;
        }

    .div-tappage {
        position: relative;
    }

        .div-tappage::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba(0,0,0,0.05);
            background-color: rgba(0,0,0,0.05);
        }

    .main-slidebar .nav-menu p.mud-typography-body1 {
        color: #000000;
    }

    .main-slidebar .nav-menu li.show{
        border-left : 2px solid #01c0c8;
    }

    .home-section {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: #edf1f5;
    }

    .main-slidebar ~ .home-section {
        width: calc(100% - 77px);
    }

    .home-section .btn-menu:hover {
        background: #FFFFFF47;
        transition: all 0.1s ease;
        cursor: pointer;
    }

    .home-section.show .btn-menu i {
        color: white;
        transform: rotate(-180deg);
        transition: all .2s ease;
    }

    .bg-topbar {
        background-color: #01c0c8;
    }

    .lb-name {
        font-size: 20px;
        font-weight: 900;
        color: rgba(255,255,255,0.5);
    }

    .mud-typography-body1 {
        font-family: 'Noto Sans Lao'
    }

    .text-stds {
        font-family: 'Noto Sans Lao'
    }

    .flex-basis-none {
        flex-basis: nione;
    }

</style>

@code {
    [Inject] public NavigationManager nav { get; set; }
    [Inject] public IJSRuntime js { get; set; }
    public int? pathmain { get; set; }


    protected override async Task OnInitializedAsync()
    {

        var paths = nav.BaseUri.Split("/");
        if (paths != null)
        {
            if (paths.Length > 0)
            {
                if (paths[3] == "")
                {
                    pathmain = 0;
                }
                else
                {
                    pathmain = 1;
                }
            }
        }


    }
    public async Task linkto(string url , int? btn)
    {
        if (btn == 1)
        {
            return;
        }
        nav.NavigateTo(url);
        var paths = nav.BaseUri.Split("/");
        StateHasChanged();
        var pathss = nav.Uri.Substring(nav.BaseUri.Length - 1);

        var pathurl = await js.InvokeAsync<string>("pathlocal");
        if (pathurl != null)
        {
            var urlpath = pathurl.Split("/");
            if (urlpath.Length > 0)
            {
                if (urlpath[3] == "")
                {
                    pathmain = 0;
                }
                else if (urlpath[3] == "queryvoucher")
                {
                    pathmain = 1;
                }
                else

                {
                    pathmain = 2;
                }
            }
            StateHasChanged();
        }

    }
}