@page "/"
<MudPaper Class="w-100 h-550-px" Elevation="0">

    <MudCard Elevation="0" Class="W-100 d-flex flex-column py-4">
            <MudText Class="m-auto f-100-px text-center"> CONTACT US </MudText>
            <div class="border-bottom-1 w-95 m-auto"></div>
    </MudCard>

    <MudContainer Class="w-100 d-flex px-0">
        <MudCard Elevation="0" Class="bg-none border-radius-0 w-50 d-flex align-items-center pa-3">

            <MudText Class="text-center f-32-px font-w-500">  IT & Application - Online Charging </MudText>
            <MudText Class="f-27-px font-w-500 mt-2">  021-244214 </MudText>

        </MudCard>
        <MudCard Elevation="0" Class="bg-none border-radius-0 d-flex align-items-center w-50 px-3 pb-3 pt-5">

            <MudText Class="f-32-px font-w-500 text-center"> VT3711 - Mr.Oudomsak PHABOUDY </MudText>
            <MudText Class="f-27-px font-w-500 mt-2"> 020-52555999 </MudText>


        </MudCard>


    </MudContainer>

     

  

</MudPaper>


@code {

}
