@page "/"


<MudPaper Class="w-100" Elevation="0">
    <MudGrid Class="w-100 ma-0 ">

        <MudItem xs="12" Class="px-0 py-3 flex-basis-none w-100">

            <MudText Class="m-auto f-100-px text-center"> CONTACT US </MudText>
            <div class="border-bottom-1 w-95 m-auto"></div>
        </MudItem>

        <MudItem xs="12" Class="d-flex p-0 flex-basis-none w-100">

            <MudCard Elevation="0" Class="bg-none border-radius-0 w-50 d-flex align-items-center pa-3">

                <MudText Class="text-center f-32-px font-w-500">  IT & Application - Online Charging </MudText>
                <MudText Class="f-27-px font-w-500 mt-2">  021-244214 </MudText>

            </MudCard>
            <MudCard Elevation="0" Class="bg-none border-radius-0 d-flex align-items-center w-50 pa-3">

                <MudText Class="f-32-px font-w-500 text-center"> VT3711 - Mr.Oudomsak PHABOUDY </MudText>
                <MudText Class="f-27-px font-w-500 mt-2"> 020-52555999 </MudText>


            </MudCard>
        </MudItem>

    </MudGrid>

</MudPaper>


@code {

}
