<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./app.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href=@("https://cdn.jsdelivr.net/npm/@icon/themify-icons@1.0.1-alpha.3/themify-icons.min.css" ) rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./style/style.css" type="text/css" />


    <HeadOutlet />
</head>

<body>
    <style>
        * {
            font-family: "Noto Sans Lao"
        }
    </style>

    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(document).on('click', ".btn-menu", function () {
                document.querySelector(".main-slidebar").classList.toggle("show");
                document.querySelector(".home-section").classList.toggle("show");
            })

        })

    </script>
    <script>
        function pathlocal() {
            var paths = localStorage.getItem("mainreport");
            console.log(paths);
            if (paths != null) {
                if (paths == true) {
                    console.log(paths)
                    // window.location.reload();
                    return;

                }
            }
            const path = window.location.href;
            console.log(path)
            return path
        }

    </script>
    <script>
        function exportexcel(filename, base64) {
            var link = document.createElement('a');
            link.download = filename;
            link.href = "data:application/octet-stream;base64," + base64;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

        }


    </script>
    <script type="text/javascript">

        async function printpdf(model) {

            try {

                console.log(model);
                console.log('print');

                if (model.length == 0) {
                    return;
                }
                let td = '';



                let th = '<tr> <th> B/S ລູກຄ້າ </th> <th> ຍອດເງິນໜ້າບັດ </th> <th> ວັນໝົດອາຍຸບັດ </th> <th> B/s ປ່ຽນແທນ </th> <th> ເບີໂທຕິດຕໍ່ </th> <th> ຜູ້ຜະລິດບັດ </th> <th> ແຂວງ </th> <th>ສາເຫດ </th> <th> Create User </th> <th> Create Time </th> </tr>'
                let table = "<table> <thead> " + th + "</thead> " + "<tbody>" + model + "</tbody> </table>";
                // let headercount = '<div class="div-detail-model" style="display: flex; flex-direction : column;  align-items: start;"> <div class="div-count" >  <span> ລາຍງານຂໍ້ມູນຈຳນວນ: ' + modelcount + ' ລາຍການ' + ' </span> </div> <div class="div-count">  <span> ຂໍ້ມູນວັນທີ : ' + datetime + ' </span>  </div>  </div>' + " <br /> " + table;

                const wins = window.open('', '');

                wins.document.head.innerHTML = '<title> print </title>' + '<link rel="stylesheet" href="./app.css" media="print" />' + '  <link rel="stylesheet" href="./style/style-document.css" type="text/css" />';
                wins.document.body.innerHTML = "<div class='div-print' style='display: flex; flex-direction: column; align-items:center;'>  <span> ລາຍງານ Block Card  </span> <div>" + table + "</div> </div>" + "<style>  .div-print{width: 100%; display: flex; flex-direction: column ; align-items: center;}  table{ width : 100%; border-collapse : collapse; } table thead tr {border : 1px solid black;}  table thead tr th { font-size: 10px; text-align: center; border: 1px solid black; padding:2px ; } table tbody tr td{ font-size: 10px; border: 1px solid black; text-align: center; padding : 2px;}  </style>";
                // wins.document.body.innerHTML =  table ;
                // <style> .div - header { width: 100 %; text - align: center; } * { font- family : 'Noto Sans Lao'
                // } table thead tr th{ font - size : 10px; } table tbody tr td{ font - size : 10px; } table{ width: 100 %; border - collapse: collapse; } table thead tr { border: 1px solid black; } table th, table td { border: 1px solid black; text - align: center; } table tr th { padding: 4px 0 } div - detail - model span{ font - size: 16px; } div - count{ display: flex; align - items: center; } div - count span{ fotn - size: 16px; } </style>


                wins.focus();
                wins.print();
                wins.close();

            } catch (error) {
                console.log(error);

            }
        }

        async function sleeps() {
            try {
                console.log("delay ")
                await new Promise(res => setTimeout(res, 2000));
            } catch (error) {
                console.log(error);
            }
        }

    </script>

    <script>

      async   function sendblock(){

             try {
                const bodys = "<?xml version=\"1.0\" encoding=\"utf-8\"?> <soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:uvc=\"http://www.huawei.com/bme/cbsinterface/uvcservices\" xmlns:uvc1=\"http://www.huawei.com/bme/cbsinterface/uvcheader\">\r\n" + "<soapenv:Header/>  <soapenv:Body><uvc:ModifyVoucherLockRequestMsg><RequestHeader> <uvc1:Version> 1 </uvc1:Version>" + " < !--Optional:--> <uvc1:BusinessCode> UVC_test </uvc1:BusinessCode>     <uvc1:MessageSeq>${=(new java.text.SimpleDateFormat(\"yyyyMMddHHmmss\")).format(new Date())}${=(int)(Math.random() * 1000)}</uvc1:MessageSeq>   < !--Optional:--><uvc1:AccessSecurity>  <uvc1:LoginSystemCode> APIGEEAPI </uvc1:LoginSystemCode>\r\n" + "<uvc1:Password> cdVOUWF+57KsMd57vH8D3H+ykq4CbeLtc8wCapSScPhjazQDDuTrFUP4sDBpyX+q</uvc1:Password>   <uvc1:RemoteIP>?</uvc1:RemoteIP></uvc1:AccessSecurity>  </RequestHeader>   <ModifyVoucherLockRequest>       <uvc:SerialNoList>220927000000087</uvc:SerialNoList><uvc:OperationType>1</uvc:OperationType>< !--Optional:--><uvc:OperationReason> sds </uvc:OperationReason>< !--Optional:--></ModifyVoucherLockRequest></uvc:ModifyVoucherLockRequestMsg></soapenv:Body></soapenv:Envelope>";
                 console.log(bodys);
                 var path = 'http://127.0.0.1:3001/blockcardmodify';
                 const response = await fetch(path, {
                     method: 'POST',
                     body: bodys
                 }).then();
                 const data = await response.json();
                 console.log(data);


             } catch (error) {
                 console.log(error);
             }

         }


        </script>


    <script>

        $(document).ready(function () {


            $(document).on('click', ".btn-exportview", function () {

                let margins = {
                    top: 60,
                    left: 30,
                    right: 30,
                    // arguments ; 60
                    width: 540
                };

                var pdf = new jsPDF('p', 'pt', 'a4');
                pdf.setFontSize(24);
            })
        })
    </script>
</body>

</html>
