<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./app.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href=@("https://cdn.jsdelivr.net/npm/@icon/themify-icons@1.0.1-alpha.3/themify-icons.min.css" ) rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./style/style.css" type="text/css" />
    <HeadOutlet />
</head>

<body>
    <style>
        * {
            font-family: "Noto Sans Lao"
        }
    </style>

    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(document).on('click', ".btn-menu", function () {
                document.querySelector(".main-slidebar").classList.toggle("show");
                document.querySelector(".home-section").classList.toggle("show");
            })

        })

    </script>
    <script>
        function pathlocal() {

            const path = window.location.href;
            console.log(path)
            return path
        }

    </script>
    <script>
        function exportexcel(filename, base64) {
            var link = document.createElement('a');
            link.download = filename;
            link.href = "data:application/octet-stream;base64," + base64;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

        }

    </script>
    <script>

        $(document).ready(function () {


            $(document).on('click', ".btn-exportview", function () {

                let margins = {
                    top: 60,
                    left: 30,
                    right: 30,
                    arguments ; 60,
                    width: 540
                };

                var pdf = new jsPDF('p', 'pt', 'a4');
                pdf.setFontSize(24);



            })



        })

    </script>
</body>

</html>
